.search {
  width: 100%;
  margin-bottom: 10px;
}

.search input {
  transition: border 0.2s linear;
  font-size: 12px;
  width: 50%;
  background: #f5f8fa;
  color: #000;
  padding: 8px 32px 8px 12px;
  height: 22px;
  border: 1px solid #e6ecf0;
  border-radius: 5px;
  outline: none;
}

.search input:focus {
  transition: border 0.2s linear;
  border: 2px solid orange;
}
