name: build
on:
  push:
    paths:
      - src/
      - pom.xml
  pull_request:
    paths:
    - src/
    - pom.xml
  schedule:
    - cron: 0 1 * * *
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v1
    - name: setup
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: install
      if: github.ref == 'refs/heads/master'
      run: mvn -U deploy -s settings.xml
      env:
        NEXUS_USERNAME: ${{ secrets.NEXUS_USERNAME }}
        NEXUS_PASSWORD: ${{ secrets.NEXUS_PASSWORD }}
    - name: version
      run: |
        mvn versions:set \
          -DnewVersion=1.8-SNAPSHOT-${GITHUB_SHA::8}
    - name: install
      if: github.ref != 'refs/heads/master'
      run: mvn -U install
    - name: deploy
      if: success() && github.ref == 'refs/heads/master'
      run: |
        mvn compile jib:build \
          -Djib.to.auth.username=${{ secrets.DOCKER_USERNAME }} \
          -Djib.to.auth.password=${{ secrets.DOCKER_PASSWORD }} \
          -Djib.to.image=${{ secrets.DOCKER_IMAGE }} \
          -Djib.to.tags=latest,$(date +%F)
