name: test
on:
  issue_comment:
    types:
    - created
jobs:
  test:
    timeout-minutes: 15
    runs-on: ubuntu-latest
    steps:
    - id: check
      uses: khan/pull-request-comment-trigger@master
      with:
        trigger: /test
        reaction: rocket
        prefix_only: true
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - id: checkout
      if: steps.check.outputs.triggered == 'true'
      uses: actions/checkout@v1
    - id: setup
      if: steps.check.outputs.triggered == 'true'
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - id: build
      if: steps.check.outputs.triggered == 'true'
      run: mvn -pl server compile jib:dockerBuild
    - id: ip
      if: steps.check.outputs.triggered == 'true'
      uses: haythem/public-ip@v1
    - id: comment
      if: steps.check.outputs.triggered == 'true'
      uses: unsplash/comment-on-pr@master
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        msg: Creating a test server at **${{ steps.ip.outputs.ipv4 }}**
    - id: run
      if: steps.check.outputs.triggered == 'true'
      run: docker run -t --rm --network host pgm
